@import "~normalize.css";
@import "roboto.css";

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #1c78c1;
}
.code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.code--red {
  color: red;
}